<div>
  Check your inbox for a confirmation email.
  <br />
  (Didn't get one? Enter your email address and we'll send you a fresh one.)
  <br />
  <%= form_tag(resend_confirmation_email_path, method: 'put') do %>
    <%= label_tag :email %>
    <%= email_field_tag :email, nil, placeholder: 'Email' %>
    <%= submit_tag 'Resend Email' %>
  <% end -%>
</div>
