<h2>Welcome to the...</h2>

<h1>Dangerzone!</h1>

<p>this page is just a placeholder until you set up your
root_url, so...</p>

<ul>
  <li>In your /config/routes.rb change the root_url to a different controller#action
    (or get rid of the 'root to:' altogether and change the controllers dangerzone
    generated for you so you don't get a NoMethodError)</li>
  <li>Once you've done that, feel free to delete this page
      (it's /views/create_accounts/dangerzone.html.erb)</li>
  <li>Don't forget to add 'before_filter :authorize_user'
      on the controllers you only want registered, confirmed
      users to see. </li>
  <li>For more help/information, check out the dangerzone
      readme on <%= link_to 'Github', 'https://github.com/michaelcrismali/dangerzone' %></li>
</ul>
