<h5>Lana.... Lana.... LANA!!!</h5>

<h3>Dangerzone!</h3>

<p>This page is just a placeholder until you set up your root_url, so...</p>

<ul>
  <li>In your /config/routes.rb change the root_url to a different controller#action
    (or get rid of the 'root to:' altogether and change the controllers dangerzone
    generated for you so you don't get a NoMethodError). While you're there
    also get rid of the "/dangerzone" route.</li>
  <li>Once you've done that, delete this page
      (it's in app/views/create_accounts as dangerzone.html.erb),
      unless you want to hold on to it for nostalgia's sake.</li>
  <li>Don't forget to add 'before_filter :authorize_user'
      to the controllers that have actions you only want registered
      users to be able to use. </li>
  <li>For more help or information regarding dangerzone, check out the dangerzone
      readme on <%= link_to 'Github', 'https://github.com/michaelcrismali/dangerzone' %></li>
</ul>
