<div>
  <h3>Forgot your password? Just enter your email address below and click submit for an
    email that will help you reset your password.</h3>
  <br />
  <%= form_tag(requested_reset_password_path, method: 'put') do %>
    <%= label_tag :email %>
    <%= email_field_tag :email, nil, placeholder: 'Email' %>
    <%= submit_tag 'Submit' %>
  <% end -%>
</div>
