<div>
  <h1>reset your password below:</h1>
  <%= form_tag( update_password_url, method: 'put') do %>
    <%= password_field_tag :password, nil, placeholder: 'Password' %>
    <%= password_field_tag :password_confirmation, nil, placeholder: 'Password Confirmation' %>
    <%= submit_tag 'Update' %>
  <% end -%>
</div>
