<div>
  <h1>Check your email for an email that'll help you reset your password.</h1>
  <br />
  <h2>(Didn't get it? Enter your email address and we'll send you a fresh one.</h2>
  <br />
  <%= form_tag(send_reset_password_url, method: 'put') do %>
    <%= email_field_tag :email, nil, placeholder: 'Email' %>
    <%= submit_tag 'Submit' %>
  <% end -%>
</div>
